* {
font-family: Copperplate,Copperplate Gothic Light,fantasy; 
}

body {
  background-color: #e6e6e6;
  display: flex;
  flex-direction: column;
  padding-bottom: 80px;
}

h1 {
  color: #0d0d0d;
  text-align: center;
}

h2 {
  color: #0d0d0d;
  text-align: center;
  font-size: medium;
}

#map {
  height: 70vh;
  margin: 20px;
}

#header_line {
  height: 2px;
  color: #0d0d0d;
  background-color: #0d0d0d;
}

button{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

#game-bar{
    display: flex;  
    justify-content: center;
    font-size:22px;
    font-weight: bold;
    margin-left:20px;
    margin-right:20px;
    margin-top:40px;
}

#point-label{
    /* position: absolute; */
    /* bottom:100px; */
    /* right:30px; */
    font-size: 22px;
    z-index: 2000;
}

#round-label{
    /* position: absolute; */
    /* bottom:100px; */
    /* left:30px; */
    font-size: 22px;
    z-index: 2000;
}

.bottom-button{
    position: fixed;
    bottom:0px;
    left:0px;
    right:0px;
    z-index: 2000;
}

.stats{
    text-align: center;
    font-size: 18px;
    line-height: 50px;
}

#about {
    /* text-align: center; */
    font-size: 18px;
    margin-top: 20px;
    margin-left:20px;
    margin-right:20px;
}

@keyframes flagAnimation {
  0%   { left: -600px; }
  100%   { left: 0; }
}

.flag {
  position: relative;
  min-height: 30px;
  max-height: 30px;
  margin-right: 10px;
  animation-name: flagAnimation;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#flag-carousel-1 {
  margin-left: 20px;
  margin-right: 20px;
  overflow: hidden;
  max-height: 30px;
  display: flex;
}

#flag-carousel-2 {
  margin-left: 20px;
  margin-right: 20px;
  overflow: hidden;
  max-height: 30px;
}