* {
  font-family: Copperplate,Copperplate Gothic Light,fantasy; 
}

body {
  /* background-image: linear-gradient(to bottom, #eeeeee, #ffffff, #e6e6e6); */
  display: flex;
  flex-direction: column;
}

h1 {
  color: #fafafa;
  text-align: center;
  font-size: 28px;
}

h2 {
  color: #0d0d0d;
  text-align: center;
  font-size: medium;
}

h3 {
  color: #0d0d0d;
  text-align: center;
  font-size: 28px;
}

#header-overlay{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2000;
  min-height: 70px;
  background-color: #4CAF50dd;
  padding: 10px 0;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  box-shadow: 10px 8px 8px lightgray;
}

#subhead-game-text{
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
  color: #fafafa;
  font-size: 20px;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}


#play-game-button-container{
  margin-top: 50px;
  margin-bottom: 40px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: column;
}

.play-game-button{
  width: min(100%, 500px);
  font-size: 18px;
  border-radius: 10px;
}

button{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

#audio-player-container{
    text-align: center;
    margin: 15px;
    margin-bottom: 5px;
}

audio{
    width: min(100%, 500px);
}

.bottom-button{
    position: fixed;
    bottom:0px;
    left:0px;
    right:0px;
    z-index: 2000;
}

.stats{
    text-align: center;
    font-size: 18px;
    line-height: 50px;
    margin-top: 200px;
}

#about {
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
    margin-left:20px;
    margin-right:20px;
}

@keyframes flagAnimation {
  0%   { left: -600px; }
  100%   { left: 0; }
}

.flag {
  position: relative;
  min-height: 30px;
  max-height: 30px;
  margin-right: 10px;
  animation-name: flagAnimation;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#flag-carousel {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 15px;
  overflow: hidden;
  max-height: 30px;
  display: flex;
}

#about{
  padding-top: 20px;
}

#answer-info{
  position: fixed;
  /* annoying phone bars */
  bottom: 0px; 
  left: 0px;
  right: 0px;
  z-index: 1500;
  text-align: center;
  font-size: 15px;
  color: black;
  display: none;
  padding: 20px;
  background-color: white;
  animation-duration: 0.7s;
  animation-name: slideUp;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

#answer-info-content{
  margin-bottom: 50px; 
  line-height: 25px; 
  background: white;
}

.dialog-close-button{
  position: absolute;
  top: 27px;
  right: 20px;
  font-size: 30px;
  color: black;
  cursor: pointer;
}

@keyframes slideUp {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

#about-map {
  display: flex;
  justify-content: center;
  }

#about-map-image{
  max-width: min(80vw, 1000px);
  max-height: auto;
}

a{
  color: #0d0d0d;
  text-decoration: none;
  font-weight: bold;
}

#footer{
  background-color: lightgray;
  text-align: center;
  padding: 20px;
}



/* desktop */
@media screen and (min-width: 800px) {
  #subhead-game-text{
    margin-top: -40px;
  } 
}
