* {
font-family: Copperplate,Copperplate Gothic Light,fantasy; 
}

body {
  background-color: #e6e6e6;
  display: flex;
  flex-direction: column;
}

h1 {
  color: #0d0d0d;
  text-align: center;
}

h2 {
  color: #0d0d0d;
  text-align: center;
  font-size: medium;
}

#map {
  height: 70vh;
  margin: 20px;
}

#header_line {
  height: 2px;
  color: #0d0d0d;
  background-color: #0d0d0d;
}

button{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

#game-bar{
    display: flex;  
    justify-content: center;
    font-size:22px;
    font-weight: bold;
    margin-left:20px;
    margin-right:20px;
    margin-top:40px;
}

#point-label{
    position: absolute;
    bottom:100px;
    right:50px;
    font-size: 22px;
    z-index: 2000;
}

#round-label{
    position: absolute;
    bottom:100px;
    left:50px;
    font-size: 22px;
    z-index: 2000;
}

.bottom-button{
    position: absolute;
    bottom:0;
    left:0;
    right:0;
    z-index: 2000;
}
