* {
font-family: Copperplate,Copperplate Gothic Light,fantasy; 
}

body {
  background-color: #e6e6e6;
  display: flex;
  flex-direction: column;
  padding-bottom: 80px;
}

h1 {
  color: #0d0d0d;
  text-align: center;
}

h2 {
  color: #0d0d0d;
  text-align: center;
  font-size: medium;
}

#map {
  height: 70vh;
  margin: 20px;
  margin-top: 10px;
}

#header_line {
  height: 2px;
  color: #0d0d0d;
  background-color: #0d0d0d;
}

#play-game-button-container{
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: column;
}

.play-game-button{
  width: min(100%, 500px);
}

button{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

#audio-player-container{
    text-align: center;
    margin: 15px;
}


#point-label{
    font-size: 22px;
    z-index: 2000;
}

#round-label{
    font-size: 22px;
    z-index: 2000;
}

.bottom-button{
    position: fixed;
    bottom:0px;
    left:0px;
    right:0px;
    z-index: 2000;
}

.stats{
    text-align: center;
    font-size: 18px;
    line-height: 50px;
}

#about {
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
    margin-left:20px;
    margin-right:20px;
}

@keyframes flagAnimation {
  0%   { left: -600px; }
  100%   { left: 0; }
}

.flag {
  position: relative;
  min-height: 30px;
  max-height: 30px;
  margin-right: 10px;
  animation-name: flagAnimation;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#flag-carousel {
  margin-left: 20px;
  margin-right: 20px;
  overflow: hidden;
  max-height: 30px;
  display: flex;
}

#about{
  padding-top: 20px;
}

#answer-info{
  position: fixed;
  /* annoying phone bars */
  bottom: 0px; 
  left: 0px;
  right: 0px;
  z-index: 1500;
  text-align: center;
  font-size: 15px;
  color: gray;
  display: none;
  padding: 20px;
  background-color: white;
  animation-duration: 0.7s;
  animation-name: slideUp;
}

#answer-info-content{
  margin-bottom: 50px; 
  line-height: 25px; 
  background: white;
}

.dialog-close-button{
  position: absolute;
  top: 27px;
  right: 20px;
  font-size: 30px;
  color: black;
  cursor: pointer;
}

@keyframes slideUp {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

#about-map {
  display: flex;
  justify-content: center;
  }

#about-map-image{
  max-width: min(80vw, 1000px);
  max-height: auto;
}

